#count {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 80px;
    color: #616fee;
    margin: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -5px 2px 8px #c9267a;
}

#head {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 60px;
    margin: 16px;
    color: #616fee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1rem;
    text-shadow: -5px 2px 8px #c9267a;
}

* {
    user-select: none;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    height: 60px;
    width: 200px;
    color: #f04646;
    font-size: large;
    font-family: cursive;
    margin: 1em;
    border-radius: 10px;
    background: linear-gradient(145deg, #f8bae3, #deb6cb);
    box-shadow: 2px 2px 5px #e3bad0, -2px -2px 5px #ffdaf4
}

body {
    background-color: #deb6cb;
    background-image: url('milkshake.png');
    background-repeat: no-repeat;
}

#dec {
    background-color: red;
}

#inc {
    background-color: aqua;
}

@media screen and (max-width:578px) {
    #count {
        font-size: 60px;
    }
    #head {
        font-size: 40px;
    }
}